body {
    background-color:#2b4e6e;
    font-family: Arial, sans-serif;
    color: white;
}
.navbar {
    padding: 12px 0px;
    background-color:#1b2838;
    width: 100%;
}   

.container {
    display: flex;
    margin-left: 160px;
    justify-content: space-between;
    color:#c7d5e0;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;

}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
}

.center {
    flex:1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
}

.nav-links li a {
    text-decoration: none;
    color: #c7d5e0;
    font-size: 17px;
    transition: color 0.3s;
    font-weight: bold;
} 

.nav-links li a:hover {
    color: white;
}

main {
    padding: 20px;
}

.logo-container{
    margin-right: 20px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
    display: inline;
}
.logo-word {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    color: #c7d5e0;
    margin-bottom: 20px;
    margin-right: 30px;
}
.right {
    display:flex;
}
.login{
     color: #3E4957;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-left: 240px;
    margin-bottom: 60px;
    transition: color 0.3s;
}

.right :hover{
    color: #c7d5e0;

}




