<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title> Steam project </title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Community">Community</a></li>
                <li><a href="/Store">Store</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    
</body>
</html>